/*
Sidebar:
Min: 250px / Max: 25%

Main:
 the second grid position (1fr),
 takes up the rest of the remaining space.
*/
#main {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
}

#controls {
  height: 100vh;
  background: yellow;
}

#plot {
  background-color: black;
}

body {
  color: red;
}